body {
    background-color: #FFF;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
}

#chip8-screen {
    background-color: #000;
    border: 1px solid #787878;

}

#cpu-output-content, #disassembly-content {
    margin-top: 3px;
    border: 1px solid #FFF;
    padding: 10px;
    background-color: #FFF;
}

tt {
    white-space: pre;
}

button {
    background-color: #444;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}